body {
background: url(img/img.jpg)  no-repeat center center/ cover;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.calculator {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 10px;
    width: 400px;
    height: 600px;
    background-color: rgba(100, 100, 100, 1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(black, rgb(255, 255, 255));
box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.8),
inset 0px 0px 10px 1px rgba(0, 0, 0, 1),
4px -2px 3px rgba(0, 0, 0, 0.8);
background-size: 2px 2px;

            transform: perspective(1000px) rotate(0deg) rotatex(0deg);
}

.outline {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 40px 40px;


    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 1),
    inset 115px -2px 10px rgba(204, 204, 204, 0.5); /* Inner shadow for shine */;
    background: linear-gradient(to right top, rgb(100, 100, 100), rgb(150, 150, 150));
    background: linear-gradient(to right top, rgb(0, 0, 0), rgb(71, 58, 64));
    background-size: 8px 8px;
    height: 280px;
    width: 402px;
    left: 0px;
    top: 0px;
    transform: perspective(1000px) rotateX(0deg);
    
}

.brand {
    font-family: initial;
    position: relative;
    top: 20px;
    left: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2.3rem;
    font-weight: bolder;
}

.brandText {
position: relative;
color: rgba(255, 255, 255, 0.5);
top: 20px;
left: 10px;
font-size: 1rem;
font-weight: bold;
}

.brandUse {
    font-weight: bolder;
    font-size: 0.8rem;
    position: relative;
    top: 187px;
    left: 90px;
    color: rgba(255, 255, 255, 0.4);
}


.solar {
position: relative;
display: flex;
justify-content: space-evenly;
border: 3px solid rgba(155, 155, 155, 0.2);
border-radius: 5px 5px 5px 5px;
 box-shadow: 1px inset rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 160px;
    background: linear-gradient(to right top, rgb(83, 60, 44), rgb(102, 72, 38));
    bottom: 60px;
    left: 210px;
}

.solarLine1, .solarLine2 {
    border: 1px solid rgba(128, 96, 50, 0.4);
    height: 40px;
}



.solarText {
    position: relative;
    bottom: 55px;
    left: 240px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: lighter;
}

.screenGlass {
    position: relative;
    bottom: 40px;
    left: 16px;
    border: 3px solid black;
    height: 140px;
    width: 360px;
    background: linear-gradient(to right top, rgb(225, 225, 225), rgb(255, 255, 255), rgb(225, 225, 225));
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;

}

.diamondText {
    position: relative;
    color: rgba(34, 24, 10, 0.4);
    font-size: 0.7rem;
    left: 100px;
    top: 2px;
    font-weight: bold;
}

.display {
    position: relative;
    width: 340px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 0px;
    left: 5px;
    bottom: 15px;
    background: linear-gradient(to right top, rgb(210, 215, 210), rgb(150, 160, 150), rgb(120, 130, 120));

    border-bottom: 3px solid #999;
    border-right: 3px solid #999;
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-top: 4px solid rgba(0, 0, 0, 0.5);

    transform: perspective(1000px) rotateX(0deg);

}

.WaterFireBullet {
    position: relative;
    top: 10px;
    left: 40px;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
}


.allButtons {
    position: relative;
    left: 15px;
    bottom: 40px;
}

button {
    width: 55px;
    height: 45px;
    margin: 2px;
    border-radius: 10px 10px 40px 40px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    outline: none;


    color: rgba(255, 255, 255, 0.6);
    font-size: 2rem;
    margin: 20px 20px 0px 0px;
    font-family: 'Courier', monospace;
}


.num {
    background : linear-gradient(145deg, black, black);
    border: 4px solid rgba(0, 0, 0, 0.1);
box-shadow: inset 2px 0px 0px rgba(255,255,255,0.5),
inset -5px -5px 0px rgba(0,0,0,1),
-6px -6px 10px rgba(255,255,255,0.5),
4px 4px 5px 4px rgba(0,0,0,0.5),
-6px -6px 10px rgba(0,0,0,0.5),
-4px -4px 5px 4px rgba(255,255,255,0.5),
inset 6px 6px 10px rgba(204, 204, 204, 0.5); /* Inner shadow for shine */;;
background-size: 2px 2px;      ;

}

.op {
    background : linear-gradient(145deg, rgb(110, 110, 110), rgb(90, 90, 90));
    border: 4px solid rgba(0, 0, 0, 0.1);
box-shadow: inset 2px 0px 0px rgba(255,255,255,0.5),
inset -5px -5px 0px rgba(0,0,0,1),
-6px -6px 10px rgba(255,255,255,0.5),
4px 4px 5px 4px rgba(0,0,0,0.5),
-6px -6px 10px rgba(0,0,0,0.5),
-4px -4px 5px 4px rgba(255,255,255,0.5),
inset 6px 6px 10px rgba(204, 204, 204, 0.5); /* Inner shadow for shine */;;
background-size: 2px 2px;      ;

}

.misc {
    background : linear-gradient(145deg, rgb(100, 25, 60), rgb(120, 45, 80));
    border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: inset 2px 0px 0px rgba(255,255,255,0.5),
inset -5px -5px 0px rgba(0,0,0,1),
-6px -6px 10px rgba(255,255,255, 0.5),
4px 4px 5px 4px rgba(0,0,0, 0.5),
-6px -6px 10px rgba(0,0,0, 0.5),
-4px -4px 5px 4px rgba(255,255,255,0.5),
inset 6px 6px 10px rgba(204, 204, 204, 0.5); /* Inner shadow for shine */;;
background-size: 2px 2px;      ;

}

#equal {
    background : linear-gradient(145deg, rgb(155, 135, 100), rgb(100, 80, 50));
    border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: inset 2px 0px 0px rgba(255,255,255,0.5),
inset -5px -5px 0px rgba(0,0,0,1),
-6px -6px 10px rgba(255,255,255,0.5),
4px 4px 5px 4px rgba(0,0,0,0.5),
-6px -6px 10px rgba(0,0,0,0.5),
-4px -4px 5px 4px rgba(255,255,255,0.5),
inset 6px 6px 10px rgba(204, 204, 204, 0.5); /* Inner shadow for shine */;;
background-size: 2px 2px;      ;


    position: relative;
    height: 110px;
    width: 55px;
    left: 318px;
    bottom: 130px;
}

#del-text {
    position: relative;
    bottom: 7px;
    right: 2px;
    font-size: 1.4rem;
}

.kevlar {
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    top: 18px;
    left: 25px;
    font-size: 0.7rem;
    font-weight: bolder;
    text-shadow: -1px -1px rgba(0,0,0,0.5);
}

.armored {
    position: relative;
    left: 337px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.7rem;
    font-weight: bolder;
    text-shadow: -1px -1px rgba(0,0,0,0.5);
}

.shell {
    position: relative;
    bottom: 28px;
    left: 360px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.7rem;
    font-weight: bolder;
    text-shadow: -1px -1px rgba(0,0,0,0.5);
}

.waterproof {
    position: relative;
    color: rgba(0, 0, 255, 0.5);
    bottom: 30px;
    left: 270px;
    font-size: 0.7rem;
    font-weight: bolder;
    text-shadow: -1px -1px rgba(0,0,0,0.5);
}

.heat {
    position: relative;
    color: rgba(255, 0, 0, 0.5);
    bottom: 57px;
    left: 268px;
    font-size: 0.7rem;
    font-weight: bolder;
    text-shadow: -1px -1px rgba(0,0,0,0.5);
}